<a href="https://colab.research.google.com/github/bundickm/AB-Demo/blob/master/Warmup_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> *You can practice shooting eight hours a day, but if your technique is wrong, then all you become is very good at shooting the wrong way. Get the fundamentals down and the level of everything you do will rise.*
-Michael Jordan

Pre-lecture warm-ups are all about setting you up for success - sometimes that means code challenges, sometimes it means discussing interview questions. Today it means working on fundamentals. 

Read through the lecture notebook with a focus on understanding. At the end of the sections are code challenges for you to practice and reinforce what you read about. After lecture ends, a team lead will post a solution notebook (with explanations) for those exercises. 

Should you finish early, there is additional content at the bottom to explore. If you don't complete the notebook within the hour, don't sweat it, this notebook is meant for you to build up your knowledge and skills - you can always continue working on it after lecture or when you complete the assignment.

# For Loops

## Basic Loops
Python for loops iterate over items in an iterable object - the most commmon iterables being `list`, `tuple`, `dictionary`, `set`, and `string`. The default behavior for a for loop in Python is actually a for-each loop, meaning "for each item in this iterable, do something."

![image.png]()

In [0]:
arr = ['a', 'b', 'c']

for item in arr:
  print(item)

a
b
c

In [0]:
string = 'abc'

for char in string:
  print(char)

a
b
c

In [0]:
dictionary = {'a':1, 'b':2, 'c':3}

for key in dictionary:
  print(key)

a
b
c

A for loop can also be used to iterate over a series of numbers using the `range` function. If those numbers need to be referenced but we don't care about the variable we traditionally use `i` over another placeholder like `num`.

In [0]:
for i in range(3):
  print(i)

0
1
2

In [0]:
for i in range(5, 8):
  print(i)

5
6
7

Those numbers can be used to reference a location in the iterable or used in calculations.

In [0]:
arr = ['a', 'b', 'c']

for i in range(3):
  print(arr[i])

a
b
c

In [0]:
for i in range(3):
  print(i*2)

0
2
4

Maybe you don't need to know any of the values of your iterable, in that case, use `_` instead of a variable name or `i`. The underscore acts as a kind of shorthand to yourself and other programmers that the variable isn't used for anything other than a placeholder because the syntax demands it.

In [0]:
for _ in range(3):
  print("Bock bock, I'm a chicken.")

Bock bock, I'm a chicken.
Bock bock, I'm a chicken.
Bock bock, I'm a chicken.

## Break and Continue
For loops can be interrupted completely with a `break` statement, or on a single iteration with a `continue` statement. Nothing within the loop below the `break` or `continue` will be executed.

In [0]:
for i in range(3):
  print(i)
  break

0

In [0]:
for i in range(3):
  if i == 1:
    continue
  print(i)

0
2

These statements are useful to prevent unnecessary computation if your conditions are already met. For instance, let's say I want the first number divisible by 3 and 5 under 100. In that case I only need to reach `15` and then exit, no need to check every other number after it.

In [0]:
for i in range(1, 100):
  if (i % 3 == 0) and (i % 5 == 0):
    print(i)
    break

15

## Nested For Loops
For loops can contain any code you want, that includes other for loops. This may be helpful if you are comparing two iterables or need to count at different rates. Be careful with nesting for loops though, because the interior loop executes fully for every single tick of the exterior loop. This can add a lot of computational complexity depending on the situation.

In [0]:
for i in range(3):
  print('i =', i)
  for j in range(2):
    print('j =', j)
  print()

i = 0
j = 0
j = 1

i = 1
j = 0
j = 1

i = 2
j = 0
j = 1

In [0]:
arr_fruit = ['berry', 'apple', 'banana']
arr_veg = ['carrot', 'parsnip']

for fruit in arr_fruit:
  for veg in arr_veg:
    if len(veg) > len(fruit):
      print(veg)
    else:
      print(fruit)

carrot
parsnip
carrot
parsnip
banana
parsnip

You can even have the interior loop start where the exterior loop is at.

In [0]:
for i in range(3):
  print('i =', i)
  for j in range(i,3):
    print(j)
  print()

i = 0
0
1
2

i = 1
1
2

i = 2
2

## Enumerate
Sometimes you may want to loop through an iterable but also keep track of how many iterations you have done. You can do this easily with a count variable.

In [0]:
count = 0

for fruit in arr_fruit:
  print(count, fruit)
  count += 1

0 berry
1 apple
2 banana

While that is simple enough, Python knows this is a common task and provides the `enumerate` function. As you can see below, it attaches a count to each item in the array.

In [0]:
list(enumerate(arr_fruit))

[(0, 'berry'), (1, 'apple'), (2, 'banana')]

We can unpack those items just like we would any tuple.

In [0]:
first_fruit_count, first_fruit = list(enumerate(arr_fruit))[0]
print(first_fruit_count)
print(first_fruit)

0
berry

Now lets throw it in a loop where it is much more valuable to us. This saves us from having to initialize and increment another variable, leading to cleaner and easier to maintain code.

In [0]:
for i, fruit in enumerate(arr_fruit):
  print(i)
  print(fruit)

0
berry
1
apple
2
banana

And, just like we did with enumerate we can unpack tuples or dictionaries in a for loop as well.

In [0]:
dictionary = {'a':1, 'b':2, 'c':3}

for key, value in dictionary.items():
  print(key,':',value)

a : 1
b : 2
c : 3

## For Loop Practice

### Square of Stars
Use a for loop to produce a n x n square of asterisks like the 4x4 square below. This can be done with nested for loops, but there is a way to do it with a single for loop. Assume `n` can be any positive integer, so don't just loop `print('* * * *')` 4 times.
```
* * * *  
* * * *  
* * * *  
* * * *  
```
The Python `print` function normally moves to the next line after it executes. You can change this behavior by setting the `end` parameter to something other than newline(`\n`). Reference [here.](https://www.geeksforgeeks.org/python-output-using-print-function/)

### Fizz Buzz
Write a program which iterates over the integers from 0 to `n`. For multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz". If it is not a multiple of 3 or 5, simply print the number. Once you have an answer, how can you use `continue` to make the code slightly faster?

Example from 0 to 5:
```
fizzbuzz
1
2                              
fizz                              
4                              
buzz
```

If you are unsure how to check if a number is odd or even in Python look into **modulo** and **floor division** later, but for now simply click [here.](https://stackoverflow.com/a/21837247)

# Debugging

When starting out with programming, and later when your programs get more complex, you might find yourself spending a lot of time hunting down errors hiding in your code. There are a couple of techniques for cutting down the search time for a bug, but the most basic is print debugging. 

The method is simple, add `print` statements to your code at certain points to see where Python gets to before failing (runtime error) and also to check the value of variables at intermediate steps (semantic error).

Let's assume you have a hundred lines of code and don't know where along the way Python is crashing. As we saw before, you can read the error message to narrow the search but we will also assume the message was unhelpful. In that case we can throw a print statement at line 50. We know if that print occurs our issue is in the bottom half of our code and if it doesn't then the top half is the problem. We can repeat this over and over again with the problem halves until we narrow the problem to a specific line.

```python
x = 5
x += 5
# Hundred lines of code here
print('Debug - Got to line 100') # This code fails after reaching this point so we know the issue is below it.
x -= 5
5 = x
```

Some times, code runs but doesn't give us the output we expected. In those cases we can use print statements to check intermediate values that should point to where it all went wrong. Basically asking Python, "what is the value of this variable? How about after I add 5 to it? What about when it went through the function?" Assume the example code below should result in `x` equal to 10 if it were running correctly.

```python
# Print statements to check intermediate values
def foo(x):
  print('Debug - x:', x)
  return 5

x = 5
print('Debug - x:', x)
x + 5
print('Debug - x:', x)
x = foo(x)
print('Debug - x:', x)
```

We will practice both of these below with simple and contrived examples for ease of use, but trust that these methods work just on larger chunks of code as well.

### Narrowing Down

In [0]:
# The following code has a runtime error. Use the next cell for the exercise
# so that you can use this cell as reference if needed.
x = 5
x + 5
x = x + 5
x += 5
5 = x
x - 5
x is 5
x = x + x
print(x)

In [0]:
# Ignore the error message and use print debugging to narrow down the location
# of the error.
x = 5
x + 5
x = x + 5
x += 5
5 = x
x - 5
x is 5
x = x + x
print(x)

In [0]:
# Once you have located the error, correct the code. 
# Your final output should print '10'
x = 5
x + 5
x = x + 5
x += 5
5 = x
x - 5
x is 5
x = x + x
print(x)

### Intermediate Values

In [0]:
# Assume you expect this code to add up the list and print 'Welcome!' only if 
# the sum of the list is greater than 23. Use the next cell for the exercise
# so that you can use this cell as reference if needed.
def foo():
  return 6

x = foo()
for i in [1, 2, 3, 4, 5, 6]:
  x += i

if x > 23:
  print("Welcome!")

Welcome!

In [0]:
# Using print debuggging, check intermediate values to figure out why this code
# is printing 'Welcome!' when the sum of the list is only 21
def foo():
  return 6

x = foo()
for i in [1, 2, 3, 4, 5, 6]:
  x += i

if x > 23:
  print("Welcome!")

In [0]:
# Once you find the error, correct the code so it does not print 'Welcome!'
# Do not change the values in the list as your correction.
def foo():
  return 6

x = foo()
for i in [1, 2, 3, 4, 5, 6]:
  x += i

if x > 23:
  print("Welcome!")

# Further Exploration
Looking to learn more? Have extra time during warmup? Here is some additional content to look at after completing the rest of notebook.

## Zip
Zip will take multiple iterables and package them together. If the iterables are uneven length, then it will stop when it reaches the end of the shortest iterable.

In [0]:
heroes = ['Spider-man', 'Superman', 'The Hulk']
alter_egos = ['Peter Parker', 'Clark Kent', 'Bruce Banner']
cities = ['New York', 'Smallville', 'Dayton', 'Gotham']

list(zip(heroes, alter_egos, cities))

[('Spider-man', 'Peter Parker', 'New York'),
 ('Superman', 'Clark Kent', 'Smallville'),
 ('The Hulk', 'Bruce Banner', 'Dayton')]

We can then use these zipped up lists to iterate over multiple lists at the exact same time.

In [0]:
for hero, alter_ego in zip(heroes, alter_egos):
  print(f'{alter_ego} is {hero}.')

Peter Parker is Spider-man.
Clark Kent is Superman.
Bruce Banner is The Hulk.

## List Comprehensions
Sometimes a programming design pattern becomes common enough to warrant its own special syntax. Python’s list comprehensions are a prime example of such syntactic sugar. List comprehensions are a tool for making a list out of a for loop.

I can't explain this as well as Trey Hunner, so go [here](https://treyhunner.com/2015/12/python-list-comprehensions-now-in-color/) after completing this warmup to learn about list comprehensions. They can't do anything different from a normal for loop, but they do make lists in a cleaner neater package and you should know how to use them.

In [0]:
arr = [1, 2, 3]
arr_doubled = []

for num in arr:
  arr_doubled.append(num*2)

arr_doubled

[2, 4, 6]

In [0]:
arr = [1, 2, 3]

arr_doubled = [num*2 for num in arr]

arr_doubled

[2, 4, 6]

## Else
When interrupting or exiting loops prematurely, it may be helpful to know if the loop executed fully or exited early. We could use an extra variable or print statements to track whether we exit early, but this can get a bit messy or tedious.

In [0]:
for i in range(1, 100):
  if i*i == 100:
    print('Exited Early')
    break
  if (i % 5 == 0) and (i / 22 == 5):
    print('Exited Early')
    break
  print(i)

1
2
3
4
5
6
7
8
9
Exited Early

The example above is obviously contrived but you get the idea, for every break you would need a print statement. Below is another example where knowing whether the loop completes or not is tracked by an extra variable.

In [0]:
numbers = [1, 3, 5]
list_content_assessment = "List does not contain an even number"
for ele in numbers: 
    if ele % 2 == 0: 
        list_content_assessment = "List contains an even number"
        break
print(list_content_assessment)

List does not contain an even number

And here is how we can simplify and save a bit of memory by using an `else` statement. The contents of the `else` statement only execute if the loop completes fully.

In [0]:
numbers = [1, 3, 5] 
for ele in numbers: 
    if ele % 2 == 0: 
        print ("List contains an even number") 
        break
else: # This else executes only if break is NEVER reached and loop terminated after all iterations.
    print ("List does not contain an even number")

List does not contain an even number

## Supplemental Content

[10 Minute Video on For and While Loops](https://www.youtube.com/watch?v=6iF8Xb7Z3wQ)

[Python Wiki](https://wiki.python.org/moin/ForLoop)

[Documentation](https://docs.python.org/3/tutorial/controlflow.html)

[List Comprehensions](https://treyhunner.com/2015/12/python-list-comprehensions-now-in-color/)